/**
 * Travail pratique : Vitrine commerciale
 * Auteur : Kravchenko Iana
 * Date : Avril 2018
 * Page de slyles CSS
 */

/* par défaut*/
body {
    font-family: Fantasy sans-serif;
    background-color: gray;

}

/*propriétés pour les éléments de LOGO et menu */
.fa.fa-sun-o {
    font-size: 30px;
    color: #fb6f44;
}

a.navbar-brand {
    font-size: 30px;
    font-family: 'Carter One', cursive;
    color: #1b1e21 !important;;
}

h6 {
    font-size: 20px;
    font-family: 'Satisfy', sans-serif;
    padding-left: 2%;
    color: #1b1e21;
}

li.nav-item {
    font-size: 16px;
    padding-left: 1em !important;
    padding-right: 1em !important;
    color: black !important;
    font-weight: bold;

}

/*menu*/
#menu li:hover {
    transform: scale(1.2);
}

li a {
    color: black !important;
    font-size: 13px;
}

li.nav-item.active {
    font-weight: bold;
}

.fa.fa-search {
    font-size: 30px;
    color: black;
    margin-right: 10px;
}

select.form-control {
    color: #000;
    font-family: Roboto sans-serif;
}

/*propriétés pour carrousel*/
#slider {
    height: 50%;
    width: auto;
    box-shadow: 0 0 10px;
}

/*bouton de filtre, panier*/
#btnCherche, #btnPanier, #btnPanier1 {
    font-size: 17px;
    font-family: 'Carter One', cursive;
    color: #1b1e21;
}

/*pour les éléments de form de recherche*/
.form-control {
    font-family: Roboto sans-serif;
    margin-bottom: 5%;
}

/*pour les éléments de slider*/
h1.display-3 {
    text-shadow: 5px 5px 40px black;
    color: white;
    font-size: 40px;
}

p.lead {
    text-shadow: 5px 5px 40px black;
    color: #fff;
    font-size: 26px;
}

h5 {
    font-size: 17px;
}

i.fa {
    font-size: 30px;
}

/*pour les éléments de cards(produits)*/
.card-body {
    display: table;
    background-color: #ffffff;
    border: #868e96 2px;
    box-shadow: 0 0 10px;
}

.nom, .card-footer, #card-button {
    font-weight: bold;
}

/*pour les éléments de footer*/
i.fa-facebook-square:hover, i.fa-twitter-square:hover, i.fa-instagram:hover, i.fa-hacker-news:hover,
i.fa-linkedin-square:hover, i.fa-youtube-square:hover {
    transform: scale(1.5);
}

footer ul.icons {
    color: black;
    text-decoration: none;

}

footer a i {
    color: black;

}


